# Header
menu:
  Home: "#body"
  About: "#about"
  Experience: "#experience"
  Work: "#work"
  Contact: "#contact"

first_name: Alex
last_name: Teseira
job_title:
- Web Designer
- Front-end Developer

social:
  icon-social-github: https://github.com/rayspock
  icon-social-linkedin: https://github.com/rayspock
  icon-social-facebook: https://github.com/rayspock
  icon-social-twitter: https://github.com/rayspock
  icon-social-instagram: https://github.com/rayspock
  
# Miscellaneous
favicon: /favicon.png
header_logo: img/logo.png
header_logo_dark: img/logo-dark.png
footer_logo: img/logo-dark.png
slider: img/1920x1080/01.jpg
open_graph: 

# About
about:
  title: "Intro"
  subtitle: "What I am all about."
  description: "I'm Alex Teseira, orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  <br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  <br>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  years_exp: 6
  skills:
    - name: PHP
      years: 5
    - name: HTML5
      years: 5.5
    - name: JavaSript
      years: 3
    - name: Photoshop
      years: 4    

# Contacts
contact:
  title: Contacts
  subtitle: Hire me.
  items:
    - title: Location
      content: Brookyln, New York
      href: "#"
    - title: Phone
      content: +77 234 548 00 00
      href: "#"
    - title: Email
      content: alex.teseira@gmail.com
      href: "#"
    - title: Web
      content: alex.teseira.com
      href: "#"

# Experience
exp:
  title: Experience
  subtitle: Batman would be jealous.
  items:
    - title: HTML5/CSS3
      content: "Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor"
      href: "#"
      icon: "icon-chemistry"
      featured: false
    - title: Photoshop
      content: "Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor"
      href: "#"
      icon: "color-white icon-screen-tablet"
      featured: true
    - title: Front-end
      content: "Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor"
      href: "#"
      icon: "icon-badge"
      featured: false

# Work
work:
  title: Works
  subtitle: I build the real value.
  items:
  #1
    - grid_class: "col-xs-12 col-sm-6 col-md-8 margin-b-4"
      image: "img/800x400/01.jpg"
      hide_text: "Hide"
      title: "Art Of Coding"
      subtitle: "Clean &amp; Minimalistic Design"
      description: "<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
      "
      cta: "Show me more"
      href: "#"
      tools:
        - text: "HTML5/CSS3"
        - text: "Photoshop"
        - text: "JavaSript"

  #2
    - grid_class: "col-xs-12 col-sm-6 col-md-4 margin-b-4"
      image: "img/397x400/01.jpg"
      hide_text: "Hide"
      title: "Art Of Coding"
      subtitle: "Clean &amp; Minimalistic Design"
      description: "<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
      "
      cta: "Show me more"
      href: "#"
      tools:
        - text: "HTML5/CSS3"
        - text: "Photoshop"
        - text: "JavaSript"

  #3
    - grid_class: "col-xs-12 col-sm-6 col-md-4 md-margin-b-4"
      image: "img/397x300/01.jpg"
      hide_text: "Hide"
      title: "Art Of Coding"
      subtitle: "Clean &amp; Minimalistic Design"
      description: "<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
      "
      cta: "Show me more"
      href: "#"
      tools:
        - text: "HTML5/CSS3"
        - text: "Photoshop"
        - text: "JavaSript"


  #4
    - grid_class: "col-xs-12 col-sm-6 col-md-4 md-margin-b-4"
      image: "img/397x300/02.jpg"
      hide_text: "Hide"
      title: "Art Of Coding"
      subtitle: "Clean &amp; Minimalistic Design"
      description: "<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
      "
      cta: "Show me more"
      href: "#"
      tools:
        - text: "HTML5/CSS3"
        - text: "Photoshop"
        - text: "JavaSript"

  #5
    - grid_class: "col-xs-12 col-sm-6 col-md-4"
      image: "img/397x300/03.jpg"
      hide_text: "Hide"
      title: "Art Of Coding"
      subtitle: "Clean &amp; Minimalistic Design"
      description: "<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
      "
      cta: "Show me more"
      href: "#"
      tools:
        - text: "HTML5/CSS3"
        - text: "Photoshop"
        - text: "JavaSript"
