<footer class="footer">
    <div class="content container">
        <div class="row">
            <div class="col-xs-6">
                <img class="footer-logo" src="img/logo-dark.png" alt="Aircv Logo">
            </div>
            <div class="col-xs-6 text-right sm-text-left">
                <p class="margin-b-0">&copy; <%= date(new Date(), 'YYYY') %> <a class="fweight-700" href="<%= config.url + config.root %>"><%= config.author || config.title %></a> Powered by: <a class="fweight-700" href="http://hexo.io/" target="_blank">Hexo</a></p>
            </div>
            <div class="col-xs-6 text-right sm-text-left">
                <p class="margin-b-0"><a class="fweight-700" href="https://preview.keenthemes.com/aircv/">Aircv</a> Theme Powered by: <a class="fweight-700" href="https://www.keenthemes.com/">KeenThemes.com</a></p>
            </div>
        </div>
        <!--// end row -->
    </div>
</footer>