<div id="work">
    <div class="container content-lg">
        <div class="row">
            <div class="col-sm-3 sm-margin-b-30">
                <div class="text-right sm-text-left">
                    <h2 class="margin-b-0"><%= theme.work.title %></h2>
                    <p><%- theme.work.subtitle %></p>
                </div>
            </div>
            <div class="col-sm-8 col-sm-offset-1">
              <%- partial('masonry-grid') %>
            </div>
        </div>
        <!--// end row -->
    </div>
</div>